$body-background-color: #fefefe;

$main-purple: #8a2be2;
$purple-100: #C8A2EC;
$purple-200: #D2A8FA;
$purple-600: #AF66F5;
$purple-800: #AA5AF5;
$purple-1100: #A087B9;
$purple-1200: #A489BC;
$purple-1500: #4C1481;
$purple-1900: #2C0054;

$white: #fff;
$white-100: #f2f2f2;
$white-200: #E5E8E8;

$gray-100: #DDDDDD;
$gray-900: #5B5858;


$header-item-height: 50px;
