@import './variables';
@import './categoryblock/categoryblock.scss';
@import './header/header.scss';
@import './products/products.scss';
@import './ps_featuredproducts/featured.scss';
@import './ps_imageslider/slider.scss';

body {
  background: $body-background-color;
}

.banner {
  img {
    width: 100%;
  }
}

#wrapper {
  margin-top: -22px;

  ol {
    margin-top: 22px;
  }
}

#content {
  display: flex;
  flex-direction: column;
}
