h2.category-block {
    display: flex;
    align-self: flex-start;
}

.category-block {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;

    a {
        display: flex;
        text-decoration: none;

        .category-preview {
            display: flex;

            img {
                width: 125px;
                margin: 0 0px 6px 0px;
            }

            .category-preview-name {
                width: 170px;
                border: 1px solid #EAE9E5;
                margin-right: 10px;
                margin-bottom: 10px;
                border-left: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 5px 7px;

                & > span {
                    color: #8a2be2;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                }
            }
        }
    }
}